/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}



.navbar {
   background-color: #F3F2F2;
}

.navbar-light a.navbar-brand {
   font-weight: 600;
   font-size: 1.7em;
   color: #000;
}
